.fancy-header {
    color: gold;
    text-decoration: underline;
}
h1 {
    font-color: gold;
    text-align: center;
}
h2 {
    text-align: center;
}
h2, h3, h4, h5, h6 {
    color: gold;
    text-decoration: underline;
}
body {
    /*background-color: red;*/
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/kobe-bryant-taylan-apukovska.jpg");
    font-style: italic;
    background-size: cover;
}
ul, ol {
    color: gold;
}
table {
    color: gold;
    font-size: 25px;
}
a:hover {
    color:black;
}
